<div class="container">
  <div class="input-group mb-3">
    <select id="inputCategory" class="form-control" style="max-width: 15%">
      <option selected>filter...</option>
      <option>...</option>
    </select>
    <input type="text" class="form-control" />
    <div class="input-group-append">
      <button class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Available Quantity</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.productName }}</td>
        <td>₹ {{ product.productPrice }}</td>
        <td>{{ product.inventoryQuantity }}</td>
        <td>{{ product.dateCreated }}</td>
      </tr>
    </tbody>
  </table>
</div>
